<table class="table-journey" >
    <thead>
        <tr *ngIf="!hasErrors">
            <th>ID</th>
            <th>Start Location</th>
            <th>Destination</th>
            <th>Distance</th>
            <th>Vehicle info</th>
            <th>Price</th>
            <th>Options</th>
        </tr>

    </thead>
    <tbody >
        <tr [hidden]="noElementsAvailable">No journeys are available at the moment. You can add a new one.</tr>
        <tr *ngFor="let item of JourneysList">
            <td>{{item.journeyID}}</td>
            <td>{{item.startLocation}}</td>
            <td>{{item.destination}}</td>
            <td>{{item.distance}} km</td>
            <td>{{item.vehicleModel}}</td>
            <td>${{item.price}}</td>
            <td>
                <button> 
                    <img class="btn-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png" alt="Edit">
                </button>
                <button (click)="deleteClick(item.journeyID)">
                    <img class="btn-img" src="https://cdn-icons-png.flaticon.com/512/2891/2891491.png"  alt="Delete">
                </button>
            </td>
        </tr>
        <tr *ngIf="hasErrors">
            <td>{{errorText}}: Could not load data. Please, reload and try again later.</td>
        </tr>
    </tbody>
    <tfoot>
        <tr *ngIf="!hasErrors">
            <button (click)="addOpenClick()" >
                <img class="btn-add-img" src="https://cdn3.iconfinder.com/data/icons/eightyshades/512/14_Add-512.png">
                <p style="text-align: center; float: right;">Add</p>
                </button>
         </tr>
    </tfoot>
</table>
<form>
    
</form>
<div *ngIf="!addWindowIsHidden && !hasErrors">
<app-add-edit-journey   id="add-edit-window"></app-add-edit-journey>
</div>