<table class="add-table" id="add-table">
 <tbody>
    <tr>
    <label *ngIf="!isInEditMode">Pick a vehicle Model</label> 
    </tr>
    <!--<input type="text" [(ngModel)]="VehicleModel"> -->
    <select [(ngModel)]="veh.VehicleModel" (change)="onModelTypeChange()" *ngIf="!isInEditMode">
        <option *ngFor="let type of VehiclesTypes" [value]="type.value">
          {{type.value}}
        </option>
    </select>

    <div [hidden]="capacityIsHidden">
        <tr>
        <label >Passanger Capacity</label> 
        </tr>
        <input type="number" [(ngModel)]="veh.PassangerCapacity">
        <tr>
        <label>Price Per Kilometer</label> 
        </tr>
        <input type="text" [(ngModel)]="veh.PricePerKilometer">
    </div>
    <div [hidden]="trainIsHidden">
        <tr>
        <label >Carts</label> 
        </tr>
        <input type="number" [(ngModel)]="veh.Carts">
        <tr>
    </div>
    <div [hidden]="airplaneIsHidden" >
        <tr>
        <label >{{this.checkBoxText}}</label> 
        </tr>
        <input type="checkbox" [(ngModel)]="veh.HasFreeFood">
        <tr>
    </div>

     <tr class="container-flex">
        <button (click)="editVehicle()"  [hidden]="capacityIsHidden">
            {{this.buttonText}}
        </button>
        <button (click)="close()"  [hidden]="capacityIsHidden">
                Close
        </button>

    </tr>
</tbody>
</table>