<table class="add-table" id="add-table">
    <tbody>
       <tr>
       <label>Pick a Vehicle</label> 
       </tr>
       <select [(ngModel)]="VehicleID" (change)="onVehiclePickChange()">
           <option *ngFor="let veh of VehiclesList" [value]="veh.vehicleID">
             ({{veh.vehicleID}}){{veh.vehicleModel}} ${{veh.pricePerKilometer}}
           </option>
       </select>
   
       <div [hidden]="costsAreHidden">
           <tr>
           <label >Destination</label> 
           </tr>
           <input type="text" [(ngModel)]="Destination" required>
           <tr>
            <label >Start Location</label> 
            </tr>
            <input type="text" [(ngModel)]="StartLocation" required>
            <tr>
            <label >Distance</label> 
            </tr>
            <input type="number" [(ngModel)]="Distance">
        </div>
        <tr class="container-flex">
            <button (click)="addJourney(false)"  [hidden]="costsAreHidden" (keyup.enter)="addJourney(true)">
                Add the new journey
            </button>
            <button (click)="close()"  [hidden]="costsAreHidden">
                Close
            </button>
       </tr>
   </tbody>
   </table>