.add-table{
    border: 3px solid black;
    padding: 10px;
    position: absolute;
    top: 50%;
    left:  50%; 
    backdrop-filter: blur(7px);
    
}

.add-table tbody label{
    padding: 10px;
    
}
.add-table tbody input{
    margin: 10px;
    border: 2px dotted black;
}

select{
    margin: 10px;
    border: 2px dotted black;
}

.container-flex{
    display: flex;
    column-count: 2;
    flex-direction: row;
    justify-content: space-between; 
}

