<table class="add-table" id="add-table">
    <tbody>
       <tr>
       <label>Pick a Journey</label> 
       </tr>
       <select [(ngModel)]="JourneyID" (change)="onJourneyPickChange()">
           <option *ngFor="let journey of JourneysList" [value]="journey.journeyID">
             {{journey.startLocation}}->{{journey.destination}} (${{journey.price}})
           </option>
       </select>
   
       <div [hidden]="costsAreHidden">
           <tr>
           <label >Administrative costs</label> 
           </tr>
           <input type="number" [(ngModel)]="AdministrativeCosts">
       </div>
     
       <tr class="container-flex">
            <button (click)="addTicket()"  [hidden]="costsAreHidden">
                Add the new ticket
            </button>
            <button (click)="close()"  [hidden]="costsAreHidden">
                Close
            </button>
       </tr>
   </tbody>
   </table>