
<div class="container">
<h2 class="agency-header">Agency Management Portal</h2>


<div class="grid-container">
    <div class="grid-menu-item">
        <div class="grid-element">
            <button class="nav-btn"
            routerLink="vehicle">Vehicles</button>
        </div>
        <div class="grid-element">
            <button class="nav-btn"
            routerLink="journey">Journeys</button>
        </div>
        <div class="grid-element">
            <button class="nav-btn"
            routerLink="ticket">Tickets</button>
        </div>
    </div>

    <div class="grid-data-item">
        <router-outlet class="router-obj"></router-outlet>
    </div>
</div>



</div>